*{
    background-color: plum;
    box-sizing: border-box;
    font-family: Papyrus;
}
.elegante{
    display: inline-block;
    margin: 10px;

}

.casual{
    display: inline-block;
    margin: 10px;

}
h1{
    font-size: 30px;
    color: seagreen;
}
h2{
    font-size: 30px;
    color: seagreen;
}
h3{
    font-size: 30px;
    color: seagreen;
}
.formu{
    box-sizing: border-box;
    box-shadow: cornflowerblue;
    -moz-border-bottom-colors: darkorchid;
    font-family: "Felix Titling";
    background-color: lightsalmon;
    margin-left: 0.5%;
    font-size: 500px;

}

.imgee{
    margin-top: 2%;
}